[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xxhash = "*"
aiohttp = "*"
pysocks = "*"
pyyaml = "*"
pymysql = "*"
cryptography = "*"
pony = "*"

[dev-packages]
"pep8" = "*"
pylint = "*"
"autopep8" = "*"
yapf = "*"

[requires]
python_version = "3.7"
