[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xxhash = "*"
pysocks = "*"
pyyaml = "*"
pymysql = "*"
cryptography = "*"
pony = "*"
requests-html = "*"

[dev-packages]
"pep8" = "*"
pylint = "*"
"autopep8" = "*"
yapf = "*"
certifi = "*"
mypy = "*"
rope = "*"
psycopg2 = "*"
ipython = "*"

[requires]
python_version = "3.8"
